body{
    background-color: #2C2C2C;
}
p{
    font-size: 30px;
}
.card {
    width: 417px;  
    height: 750px; 
    background-color: #f0f0f0; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

@media screen and (max-width: 375px) {
    .col-md-4{
        flex: 0 0 100%;
    }
    .card.tittle{
        font-size: 20px;
    }
    p{
        font-size: 12px;
    }
    .card {
        width: 350px;  
        height: 400px; 
        background-color: #f0f0f0; 
        border-radius: 10px; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    }
}
@media screen and (min-width:768px) and (max-width: 1024px) {
    .col-md-4{
        flex: 0 0 50%;
        max-width: 50%;
    }

}
@media screen and (min-width:769px) and (max-width: 1280px) {
    
    .card {
        width: 357px;  
        height: 750px; 
        background-color: #f0f0f0; 
        border-radius: 10px; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    }    
}